.container {
    width: 1280px;
    height: 960px;
    display: flex;
    border: 1px solid yellow;
}

header {
    width: 100px;
    border: 1px solid red;

}

#main {
    width: 540px;
    border: 1px solid blue;
    margin: 0;
}
#bottommain {
    width: 540px;
    height: 270px;
    margin: 0;
    /* vertical-align: top; */
    /* line-height: 1.0em; */
}

#sub {
    width: 540px;
    border: 1px solid green;
}

footer {
    width: 100px;
    border: 1px solid purple;
}